@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 0dg 0% 14%;
        --color-secondary: 0dg 0% 18%;
        --color-accent: 3dg 74% 65%;
        --color-text: 0dg 0% 100%;
    }
}